@charset "UTF-8";
.EDS_simpleFineUploader > .uploader {
  display: none !important;
}
.EDS_simpleFineUploader > .uploadControls {
  display: block;
  margin: 0 30px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 12px;
  text-slign: center;
  position: relative;
  border: 1px dashed #fff !important;
  margin-top: 20px;
  background-color: #fff3;
}
.EDS_simpleFineUploader > .uploadControls > .infomsg {
  text-align: center;
  color: #9cb7d5;
  margin-bottom: 5px;
  font-size: 11px;
}
.EDS_simpleFineUploader > .uploadControls > .actions {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action {
  margin: 0 20px 0 0;
  padding: 15px 13px 15px 18px;
  border: 2px solid #56a6ea;
  display: inline-block;
  font: 12px/1 Arial !important;
  box-sizing: content-box;
  cursor: pointer;
  background: no-repeat 0 6px #6EAFD7;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action > span {
  color: #56a6ea;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: bold 15px/1.3 Arial;
  box-sizing: content-box;
  text-transform: uppercase;
  display: inline-block;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action:hover {
  background: no-repeat 0 6px #3D89B8;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action.upload {
  padding-left: 18px;
  background-color: #fff;
  border-color: #56a6ea;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action.upload::before {
  font: 24px/15px "FontAwesome";
  margin-right: 7px;
  vertical-align: top;
  content: "";
  color: #56a6ea;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action.upload:hover {
  border-color: #d4d4d4;
  border-style: dashed;
  border-radius: 0;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action.upload > span {
  color: #56a6ea;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action.fileSelection {
  position: relative;
  background-color: #fff;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action.fileSelection:hover {
  border-color: #d4d4d4;
  border-style: dashed;
  border-radius: 0;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action.fileSelection > span::before {
  font: 24px/15px "FontAwesome";
  margin-right: 7px;
  vertical-align: top;
  content: "";
  color: #56a6ea;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action.fileSelection > span.dnnInputFileWrapper {
  display: block !important;
  position: absolute !important;
  bottom: auto !important;
  left: auto !important;
  top: 0 !important;
  right: 0 !important;
  float: none !important;
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 0 !important;
  overflow: hidden !important;
}
.EDS_simpleFineUploader > .uploadControls > .actions .action.fileSelection > span.dnnInputFileWrapper > input {
  position: absolute !important;
  bottom: auto !important;
  left: auto !important;
  top: 0 !important;
  right: 0 !important;
  float: none !important;
  width: auto !important;
  height: auto !important;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font: 118px/1 Arial !important;
  transform: none !important;
}
.EDS_simpleFineUploader > .uploadControls > .dndContainer {
  border: 3px solid #C1DEEB !important;
  background: rgba(150, 206, 232, 0.82);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  display: none;
}
.EDS_simpleFineUploader > .uploadControls > .dndContainer > p {
  font: bold 16px Arial;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  display: display-block;
  vertical-align: middle;
  line-height: normal;
  padding: 0;
  margin: -10px 0 0;
  border: 0;
  position: absolute;
  top: 50%;
  left: auto;
  right: auto;
  bottom: auto;
  width: 100%;
  height: auto;
}
.EDS_simpleFineUploader > .uploadControls > .dndContainer > p > span {
  font: bold 16px Arial;
  line-height: 1.3;
  color: #fff;
  display: inline;
}
.EDS_simpleFineUploader > .uploadControls > .dndContainer.dragEntered {
  background: rgba(90, 187, 78, 0.54);
}
.EDS_simpleFineUploader > .uploadDetails {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  display: block;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList {
  margin: 0 71px;
  padding: 0;
  overflow: hidden;
  border: 0;
  display: block;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li {
  margin: 5px 6px 0 0;
  padding: 5px;
  overflow: hidden;
  border: 0;
  border-bottom: 1px solid rgba(0, 103, 228, 0.49);
  display: block;
  list-style: none;
  background: #F5F5F5;
  position: relative;
  min-height: 54px;
  width: 300px;
  float: left;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .thumbnail {
  margin: 0 5px 0 0;
  padding: 2px;
  overflow: hidden;
  border: 1px dotted #545454 !important;
  width: 68px;
  height: 68px;
  background: #DDD;
  display: table-cell;
  text-align: center;
  vertical-align: middle !important;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .thumbnail > img {
  max-width: 68px;
  max-height: 68px;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle !important;
  font-size: 0;
  line-height: 0;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .thumbnail.noPreview > p {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  font: bold 10px/1.3 Arial;
  max-height: 68px;
  max-width: 68px;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .details {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  display: block;
  float: right;
  width: 100%;
  height: 74px;
  position: relative;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .details > p {
  font: 11px/1.3 Arial;
  color: #444;
  margin: 0 0 3px;
  padding: 0;
  border: 0;
  text-align: left;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .details > p.filename {
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  overflow: hidden;
  white-space: nowrap;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .details > p.uploadInfo {
  font-style: italic;
  color: #666;
  text-shadow: 1px 1px 0 #fff;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .details > .progress {
  margin: 0;
  padding: 0;
  border: 0;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 5px;
  background: #BFBFBF;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .details > .progress > div {
  margin: 0;
  padding: 0;
  border: 0 !important;
  display: block;
  overflow: hidden;
  width: 0;
  height: 100%;
  background: #1F9CD6;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .details > .actions {
  margin: 0 4px 0 0;
  padding: 0;
  border: 0;
  display: block;
  text-align: right;
  position: absolute;
  top: auto !important;
  left: auto !important;
  bottom: 0;
  right: 0;
  line-height: 1.3;
  font-size: 12px;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .details > .actions span {
  font: bold 12px/1.3 Arial;
  color: #444;
  margin: 0 0 0 10px;
  padding: 0;
  border: 0;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: text-shadow 200ms ease;
  -webkit-transition: text-shadow 200ms ease;
  -o-transition: text-shadow 200ms ease;
  -moz-transition: text-shadow 200ms ease;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li > .details > .actions span:hover {
  text-shadow: 0 0 2px #828282;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li.failed {
  background: #C20000;
  border-bottom: 1px solid #770000;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li.failed > .thumbnail {
  background: #AD0000;
  border-color: #000000 !important;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li.failed > .details > p.uploadInfo {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
  color: #FF7676;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li.failed > .details > p.filename {
  text-shadow: 1px 1px 0 #880000;
  color: #fff;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li.failed > .details > .actions span {
  text-shadow: 0 1px 0 #780000;
  color: #fff;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li.failed > .details > .actions span:hover {
  color: #fff;
  text-shadow: 0 1px 0 #780000, 0 0 3px #fff;
}
.EDS_simpleFineUploader > .uploadDetails > ol.fileUploadList > li.hasThumb > .details {
  width: 201px;
}
