/* latin-ext */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(//fonts.gstatic.com/s/benchnine/v4/AVs3lMmyGvSpQmMt6DeeRhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(//fonts.gstatic.com/s/benchnine/v4/xmB9oJNpSFKa3qTF2JABPltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(//fonts.gstatic.com/s/benchnine/v4/qZpi6ZVZg3L2RL_xoBLxWT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(//fonts.gstatic.com/s/benchnine/v4/qZpi6ZVZg3L2RL_xoBLxWegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(//fonts.gstatic.com/s/benchnine/v4/AVs3lMmyGvSpQmMt6DeeRltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(//fonts.gstatic.com/s/benchnine/v4/qZpi6ZVZg3L2RL_xoBLxWRUOjZSKWg4xBWp_C_qQx0o.woff2) format('woff2');
}

@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(//fonts.gstatic.com/s/benchnine/v4/AVs3lMmyGvSpQmMt6DeeRj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(//fonts.gstatic.com/s/benchnine/v4/qZpi6ZVZg3L2RL_xoBLxWRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}



/* @import url(http://fonts.googleapis.com/css?family=BenchNine:400,700|Roboto+Slab:400,700&subset=latin,latin-ext) */
/* latin-ext */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(http://fonts.gstatic.com/s/benchnine/v4/AVs3lMmyGvSpQmMt6DeeRhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(http://fonts.gstatic.com/s/benchnine/v4/xmB9oJNpSFKa3qTF2JABPltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(http://fonts.gstatic.com/s/benchnine/v4/qZpi6ZVZg3L2RL_xoBLxWT0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(http://fonts.gstatic.com/s/benchnine/v4/qZpi6ZVZg3L2RL_xoBLxWegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjTOQ_MqJVwkKsUn0wKzc2I.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjUj_cnvWIuuBMVgbX098Mw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZkbcKLIaa1LC45dFaAfauRA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zmo_sUJ8uO4YLWRInS22T3Y.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zr6up8jxqWt8HVA3mDhkV_0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiYE0-AqJ3nfInTTiDXDjU4.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJZ6iIh_FvlUHQwED9Yt5Kbw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJS_vZmeiCMnoWNN9rHBYaTc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSFaMxiho_5XQnyRZzQsrZs.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJQalQocB-__pDVGhF3uS2Ks.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJWhQUTDJGru-0vvUpABgH8I.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJejkDdvhIIFj_YMdgqpnSB0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(http://fonts.gstatic.com/s/benchnine/v4/AVs3lMmyGvSpQmMt6DeeRltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(http://fonts.gstatic.com/s/benchnine/v4/qZpi6ZVZg3L2RL_xoBLxWRUOjZSKWg4xBWp_C_qQx0o.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zqg5eI2G47JWe0-AuFtD150.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJasA81DAeuqoeYxDcSOJPMY.woff2) format("woff2");
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(http://fonts.gstatic.com/s/benchnine/v4/AVs3lMmyGvSpQmMt6DeeRj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(http://fonts.gstatic.com/s/benchnine/v4/qZpi6ZVZg3L2RL_xoBLxWRa1RVmPjeKy21_GQJaLlJI.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZtIh4imgI8P11RFo6YPCPC0.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYUt79146ZFaIJxILcpzmhI.woff) format("woff");
}
.eds_containers_Vision {
  margin: 0;
  padding: 14px 0 30px;
}
.eds_containers_Vision img {
  max-width: 100%;
  height: auto;
}
.eds_containers_Vision .EDC_container-title {
  border-bottom: solid 1px #25282a;
  padding: 0 0 4px 0;
  margin: 0;
}
.eds_containers_Vision .EDC_container-title span {
  font-family: "BenchNine", sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: #25282a;
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.eds_containers_Vision .DNNModuleContent {
  margin: 13px 0 0;
}
.eds_containers_Vision.eds_templateGroup_footerBox {
  padding: 0;
}
.eds_containers_Vision.eds_templateGroup_footerBox .EDC_container-title {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.35);
  border-color: #5c6367;
  padding: 17px 0;
  margin: 0 0 14px 0;
}
.eds_containers_Vision.eds_templateGroup_footerBox .EDC_container-title span {
  color: #92979a;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.7);
}
.eds_containers_Vision.eds_templateGroup_hilite {
  padding: 14px 16px;
  background-color: #e6e6e6;
  margin: 0 0 30px 0;
}
.eds_containers_Vision.eds_templateGroup_hilite .EDC_container-title {
  padding: 0 0 11px 0;
  margin: 0;
}
.eds_containers_Vision.eds_templateGroup_hilite .EDC_container-title span {
  font-size: 26px;
  line-height: 1.2;
}
.eds_containers_Vision.eds_templateGroup_hilite .DNNModuleContent .Normal,
.eds_containers_Vision.eds_templateGroup_hilite .DNNModuleContent .NormalDisabled,
.eds_containers_Vision.eds_templateGroup_hilite .DNNModuleContent .NormalDeleted {
  color: #3b3b3b;
}
.eds_containers_Vision.eds_templateGroup_centerTitle .EDC_container-title {
  text-align: center;
  border: none;
}
.eds_containers_Vision.eds_templateGroup_centerTitle .EDC_container-title span {
  font-weight: bold;
  font-size: 28px;
  color: #a5a5a5;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}
.eds_containers_Vision.eds_templateGroup_withoutTitle .DNNModuleContent {
  margin: 0;
}
.eds_containers_Vision.eds_templateGroup_withoutTitleNoPadding {
  padding: 0;
}
.eds_containers_Vision.eds_templateGroup_withoutTitleNoPadding .DNNModuleContent {
  margin: 0;
}

.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_default .EDC_container-title span
{
	font-family: "BenchNine";
	color: #ffffff;
	font-size: 30px;
}

.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_default .EDC_container-title
{
	border-bottom-color: #ffffff;
}

.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite.eds_templateGroup_hilite
{
	background-color: #1b2023;
}

.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .EDC_container-title span
{
	font-family: "BenchNine";
	color: #959595;
	font-size: 26px;
}

.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .EDC_container-title
{
	border-bottom-color: #959595;
}

.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .DNNModuleContent .Normal,
.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .DNNModuleContent .NormalDisabled,
.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .DNNModuleContent .NormalDeleted,
.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .DNNModuleContent h1,
.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .DNNModuleContent h2,
.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .DNNModuleContent h3,
.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .DNNModuleContent h4,
.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_hilite .DNNModuleContent h5
{
	color: #959595;
}

.eds_containers_Vision.eds_style_predefined_dark.eds_templateGroup_centerTitle .EDC_container-title span
{
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
	font-family: "BenchNine";
	color: #ffffff;
	font-size: 28px;
}

