.eds_socialEventsWidget.eds_style_darkorange .eds_signUpActionBarWrapper {
  border-color: #ffc602;
  background-color: #f26522; }
  .eds_socialEventsWidget.eds_style_darkorange .eds_signUpActionBarWrapper > .eds_title {
    color: white;
    background-color: #c33301;
    border-bottom-color: #ffc602; }
.eds_socialEventsWidget.eds_style_darkorange .eds_eventUsers > .eds_title {
  color: white; }
  .eds_socialEventsWidget.eds_style_darkorange .eds_eventUsers > .eds_title > span {
    color: #ffc602; }
.eds_socialEventsWidget.eds_style_darkorange .eds_eventUsers > ul li > a:hover > span:hover {
  color: #ffc602; }
.eds_socialEventsWidget.eds_style_darkorange .eds_eventUsersWrapper {
  border-color: #ffc602;
  background-color: #c44709; }
  .eds_socialEventsWidget.eds_style_darkorange .eds_eventUsersWrapper > .eds_title {
    background-color: #f26522;
    border-bottom-color: #ffc602;
    color: white; }
