.eds_socialEventsWidget.eds_style_darkgreen .eds_signUpActionBarWrapper {
  border-color: #f26522;
  background-color: #2b700d; }
  .eds_socialEventsWidget.eds_style_darkgreen .eds_signUpActionBarWrapper > .eds_title {
    color: white;
    background-color: #015301;
    border-bottom-color: #f26522; }
.eds_socialEventsWidget.eds_style_darkgreen .eds_eventUsers > .eds_title {
  color: white; }
  .eds_socialEventsWidget.eds_style_darkgreen .eds_eventUsers > .eds_title > span {
    color: #fff568; }
.eds_socialEventsWidget.eds_style_darkgreen .eds_eventUsers > ul li > a:hover > span:hover {
  color: #f26522; }
.eds_socialEventsWidget.eds_style_darkgreen .eds_eventUsersWrapper {
  border-color: #f26522;
  background-color: #1a5101; }
  .eds_socialEventsWidget.eds_style_darkgreen .eds_eventUsersWrapper > .eds_title {
    background-color: #2b700d;
    border-bottom-color: #f26522;
    color: white; }
