.eds_socialEventsWidget.eds_style_darkred .eds_signUpActionBarWrapper {
  border-color: #e80404;
  background-color: #9c0707; }
  .eds_socialEventsWidget.eds_style_darkred .eds_signUpActionBarWrapper > .eds_title {
    color: white;
    background-color: #c10101;
    border-bottom-color: #e80404; }
.eds_socialEventsWidget.eds_style_darkred .eds_eventUsers > .eds_title {
  color: white; }
  .eds_socialEventsWidget.eds_style_darkred .eds_eventUsers > .eds_title > span {
    color: #ff0b03; }
.eds_socialEventsWidget.eds_style_darkred .eds_eventUsers > ul li > a:hover > span:hover {
  color: #ff0b03; }
.eds_socialEventsWidget.eds_style_darkred .eds_eventUsersWrapper {
  border-color: #e80404;
  background-color: #6d0000; }
  .eds_socialEventsWidget.eds_style_darkred .eds_eventUsersWrapper > .eds_title {
    background-color: #9c0707;
    border-bottom-color: #e80404;
    color: white; }
