.eds_socialEventsWidget.eds_style_darkblue .eds_signUpActionBarWrapper {
  border-color: #027dd3;
  background-color: #004271; }
  .eds_socialEventsWidget.eds_style_darkblue .eds_signUpActionBarWrapper > .eds_title {
    color: white;
    background-color: #001827;
    border-bottom-color: #027dd3; }
.eds_socialEventsWidget.eds_style_darkblue .eds_eventUsers > .eds_title {
  color: white; }
  .eds_socialEventsWidget.eds_style_darkblue .eds_eventUsers > .eds_title > span {
    color: #027dd3; }
.eds_socialEventsWidget.eds_style_darkblue .eds_eventUsers > ul li > a:hover > span:hover {
  color: #027dd3; }
.eds_socialEventsWidget.eds_style_darkblue .eds_eventUsersWrapper {
  border-color: #027dd3;
  background-color: #004271; }
  .eds_socialEventsWidget.eds_style_darkblue .eds_eventUsersWrapper > .eds_title {
    background-color: #002b4a;
    border-bottom-color: #027dd3;
    color: white; }
