<!--HeaderTemplateBegin-->
<div class="ms-tabs-template ms-tabs-horizontal-template edsms_layout1">
<!--HeaderTemplateEnd-->

<!--ItemTemplateBegin-->
	<div class="ms-slide" data-delay="5">
		<img src="[EasyDNNrotator:Image]" data-src="[EasyDNNrotator:Image]" alt="[EasyDNNrotator:Title]" [EasyDNNrotator:ResponsiveImages] />
		<div class="ms-thumb">
			<img src="[EasyDNNrotator:Thumb]" data-src="[EasyDNNrotator:Thumb]" width="173" height="70" alt="[EasyDNNrotator:Title]" />
			<h3>[EasyDNNrotator:Title:Limit:40]</h3>
		</div>
		[EasyDNNrotator:IfExists:SlideLink]<a href="[EasyDNNrotator:Link]" [EasyDNNrotator:DataType]>[EasyDNNrotator:Title]</a>[EasyDNNrotator:EndIf:SlideLink]
		[EasyDNNrotator:IfExists:Title]
		<h3 class="ms-layer edsms_slideTitle"
			data-effect="left(long)"
			data-duration="1500"
			data-delay="0"
			data-ease="easeInOutBack">
			[EasyDNNrotator:Title]
		</h3>
		[EasyDNNrotator:EndIf:Title]
		[EasyDNNrotator:IfExists:Description]
		<div class="ms-layer edsms_slideDescription"
			data-effect="right(long)"
			data-duration="1500"
			data-delay="0"
			data-ease="easeInOutBack">
			[EasyDNNrotator:Description]
		</div>
		[EasyDNNrotator:EndIf:Description]
		[EasyDNNrotator:IfExists:Readmore]
		<div class="ms-layer edsms_slideLink"
			data-effect="left(long)"
			data-duration="900"
			data-delay="500"
			data-ease="easeInOutBack">
			<a href="[EasyDNNrotator:Link]">[EasyDNNrotator:LocalizedText:Readmore]</a>
		</div>
		[EasyDNNrotator:EndIf:Readmore]
		[EasyDNNrotator:IfExists:Event]
		<div class="ms-layer edsms_slideEventDate"
			data-effect="right(long)"
			data-duration="1500"
			data-delay="0"
			data-ease="easeInOutBack">
			[EasyDNNrotator:EventDate]
		</div>
		[EasyDNNrotator:EndIf:Event]
		[EasyDNNrotator:IfExists:Location]
		<div class="ms-layer edsms_slideEventLocation"
			data-effect="left(long)"
			data-duration="1500"
			data-delay="0"
			data-ease="easeInOutBack">
			[EasyDNNrotator:Location]
		</div>
		[EasyDNNrotator:EndIf:Location]
	</div>
<!--ItemTemplateEnd-->

<!--FooterTemplateBegin-->
</div>
<!--FooterTemplateEnd-->

<!--ScriptBegin-->
	<!--EnabledOptionsBegin-->
		[autoplay,speed,fullwidth,border,showreadmore,showtitle,showdescription,slidelink,view,grabCursor,swipe,mouseswipe,wheel,limittitle,limitdescription,stripdescription,preload,loop]
	<!--EnabledOptionsEnd-->
	<!--HiddenOptionsBegin-->
		[thumbnail:width:173:height:70]
	<!--HiddenOptionsEnd-->
	<!--SetOptionsBegin-->
		[space:0]
	<!--SetOptionsEnd-->
	<!--ControlBegin-->
		slider.control('arrows');
		slider.control('thumblist' , {autohide:false, dir:'h', type:'tabs', width:201, height:143, align:'bottom', space:0, margin:0, hideUnder:480});
	<!--ControlEnd-->
<!--ScriptEnd-->
