<div>
	<figure class="edr_imageOverlay2">
		<a href="[EasyDNNrotator:Link]"  target="[EasyDNNrotator:LinkTarget]"></a>
		<div class="edr_overlayColor">
			<div class="edr_iconBox">
				[EasyDNNrotator:IfExists:Event]
				<span class="edr_overlayIcons"><span><i class="fa fa-clock-o"></i>
				[EasyDNNrotator:EventDate]
				[EasyDNNrotator:EndIf:Event]
			</div>
		</div>
		<img src="[EasyDNNrotator:Thumb]" alt="" [EasyDNNrotator:Image:Visibility]/>
	</figure>
	<div class="edr_overlayRed">
		<h3 class="edr_overlayTitle2"><a href="[EasyDNNrotator:Link]" target="[EasyDNNrotator:LinkTarget]">[EasyDNNrotator:Title]</a></h3>
		<div class="edr_overlayDescription">[EasyDNNrotator:Description]</div>
	</div>
</div>