<figure class="edr_properties">
	<a href="[EasyDNNrotator:Link]"  target="[EasyDNNrotator:LinkTarget]"></a>
	<img src="[EasyDNNrotator:Thumb]" alt="" [EasyDNNrotator:Image:Visibility]/>
	<h4>
		[EasyDNNrotator:IfExists:Payment]
		<span>[EasyDNNrotator:price]</span>
		[EasyDNNrotator:EndIf:Payment]
	</h4>
</figure>
<section>
	<div>
		[EasyDNNrotator:IfExists:Event]
		<span><i class="fa fa-clock-o"></i></span>
		<p>[EasyDNNrotator:EventDate]</p>
		[EasyDNNrotator:EndIf:Event]
	</div>
</section>
<h3><a href="[EasyDNNrotator:Link]"  target="[EasyDNNrotator:LinkTarget]">[EasyDNNrotator:Title]</a></h3>

[EasyDNNrotator:IfExists:Categories][EasyDNNrotator:Categories:last:nolink][EasyDNNrotator:EndIf:Categories]