
<figure class="edr_imageOverlay">
	<a href="[EasyDNNrotator:Link]"  target="[EasyDNNrotator:LinkTarget]"></a>
	<img src="[EasyDNNrotator:Thumb]" alt="" [EasyDNNrotator:Image:Visibility]/>
	<div>
		[EasyDNNrotator:Description]
	</div>
</figure>
<section>
	<div>
		[EasyDNNrotator:IfExists:Event]
		<span><i class="fa fa-clock-o"></i></span>
		<p>[EasyDNNrotator:EventDate]</p>
		[EasyDNNrotator:EndIf:Event]
	</div>
</section>
<h3 class="edr_bottomTitle"><a href="[EasyDNNrotator:Link]" target="[EasyDNNrotator:LinkTarget]">[EasyDNNrotator:Title]</a></h3>
<div class="edr_bottomDescription">[EasyDNNrotator:Description]</div>
