<div>
	<figure class="edr_imageOverlay">
		<div></div>
		<a href="[EasyDNNrotator:Link]" target="[EasyDNNrotator:LinkTarget]"></a>
		<img src="[EasyDNNrotator:Thumb]" alt="" [EasyDNNrotator:Image:Visibility]/>
		<div class="edr_iconBox">
			<h3><a href="[EasyDNNrotator:Link]" target="[EasyDNNrotator:LinkTarget]">[EasyDNNrotator:Title]</a></h3>
			<div>[EasyDNNrotator:Description]</div>
		</div>
	</figure>
	<a class="edr_readMore" href="[EasyDNNrotator:Link]"  target="[EasyDNNrotator:LinkTarget]">
		[EDNcf:IfExists:price]
		<span>[EDNcf:price]</span>
		[EDNcf:EndIf:price]
	</a>
</div>
