<figure class="edr_properties edr_imageOverlay">
	<div>
		<div class="edr_overlayColor">
	</div>
	</div>
	<a href="[EasyDNNrotator:Link]"  target="[EasyDNNrotator:LinkTarget]"></a>
	<img src="[EasyDNNrotator:Thumb]" alt="" [EasyDNNrotator:Image:Visibility]/>
	<h4>
		[EDNcf:IfExists:price]
		<span>[EDNcf:price]</span>
		[EDNcf:EndIf:price]
	</h4>
</figure>
<section>
	<div>
		[EDNcf:IfExists:Bedrooms]
		<div class="edr_bedroom"></div>
		<p>[EDNcf:Bedrooms]</p>
		[EDNcf:EndIf:Bedrooms]
		[EDNcf:IfExists:livingarea]
		<div class="edr_roomSize"></div>
		<p>[EDNcf:livingarea]</p>
		[EDNcf:EndIf:livingarea]
		[EDNcf:IfExists:year]
		<div class="edr_year"></div>
		<p>[EDNcf:year]</p>
		[EDNcf:EndIf:year]
		[EDNcf:IfExists:bodytype]
		<div class="edr_doors"></div>
		<p>[EDNcf:bodytype]</p>
		[EDNcf:EndIf:bodytype]
		[EDNcf:IfExists:engine]
		<div class="edr_fuel"></div>
		<p>[EDNcf:engine]</p>
		[EDNcf:EndIf:engine]
		[EDNcf:IfExists:model]
		<div class="edr_gears"></div>
		<p>[EDNcf:model]</p>
		[EDNcf:EndIf:model]
	</div>
</section>
<h3 class="edr_bottomTitle"><a href="[EasyDNNrotator:Link]" target="[EasyDNNrotator:LinkTarget]">[EasyDNNrotator:Title]</a></h3>
<div class="edr_bottomDescription">[EasyDNNrotator:Description]</div>
