<figure class="edr_properties">
	<a href="[EasyDNNrotator:Link]" target="[EasyDNNrotator:LinkTarget]"></a>
	<img src="[EasyDNNrotator:Thumb]" alt="" [EasyDNNrotator:Image:Visibility]/>
	<h4>
		[EDNcf:IfExists:price]
		<span>[EDNcf:price]</span>
		[EDNcf:EndIf:price]
	</h4>
</figure>
<section>
	<div>
		[EDNcf:IfExists:engine]
		<span><i class="fa fa-tint"></i></span>
		<p>[EDNcf:engine]</p>
		[EDNcf:EndIf:engine]
		[EDNcf:IfExists:model]
		<span><i class="fa fa-gear"></i></span>
		<p>[EDNcf:model]</p>
		[EDNcf:EndIf:model]
		[EDNcf:IfExists:year]
		<span><i class="fa fa-key"></i></span>
		<p>[EDNcf:year]</p>
		[EDNcf:EndIf:year]
		[EDNcf:IfExists:country]
		<span><i class="fa fa-flag"></i></span>
		<p>[EDNcf:country]</p>
		[EDNcf:EndIf:country]
		[EDNcf:IfExists:propertytype]
		<span><i class="fa fa-home"></i></span>
		<p> [EDNcf:propertytype]</p>
		[EDNcf:EndIf:propertytype]
		[EDNcf:IfExists:livingarea]
		<span><i class="fa fa-arrows-alt"></i></span>
		<p> [EDNcf:livingarea]</p>
		[EDNcf:EndIf:livingarea]
		[EDNcf:IfExists:Bedrooms]
		<span><i class="fa fa-bed"></i></span>
		<p> [EDNcf:Bedrooms]</p>
		[EDNcf:EndIf:Bedrooms]
	</div>
</section>
<h3><a href="[EasyDNNrotator:Link]" target="[EasyDNNrotator:LinkTarget]">[EasyDNNrotator:Title]</a></h3>
