<!--HeaderTemplateBegin-->
<div class="ms-tabs-template ms-tabs-horizontal-template edsms_layout2 edsms_thumbLeft">
<!--HeaderTemplateEnd-->

<!--ItemTemplateBegin-->
	<div class="ms-slide" data-delay="5">
		<img src="[EasyDNNrotator:Image]" data-src="[EasyDNNrotator:Image]" alt="[EasyDNNrotator:Title]" [EasyDNNrotator:ResponsiveImages] />
		<div class="ms-thumb">
			<img src="[EasyDNNrotator:Thumb]" data-src="[EasyDNNrotator:Thumb]" width="58" height="58" alt="[EasyDNNrotator:Title]" />
			<h3>[EasyDNNrotator:Title:Limit:35]</h3>
			<p>[EasyDNNrotator:Description:Limit:70]</p>
		</div>
		[EasyDNNrotator:IfExists:SlideLink]<a href="[EasyDNNrotator:Link]" [EasyDNNrotator:DataType]>[EasyDNNrotator:Title]</a>[EasyDNNrotator:EndIf:SlideLink]
		[EasyDNNrotator:IfExists:Categories]
		<h3 class="ms-layer edsms_categoryTitle"
			data-effect="left(long)"
			data-duration="1500"
			data-delay="0"
			data-ease="easeInOutBack">
			[EasyDNNrotator:Categories:last:nolink]
		</h3>
		[EasyDNNrotator:EndIf:Categories]
		<div class="ms-layer edsms_layersBackground"
			data-effect="left(long)"
			data-duration="1500"
			data-delay="0"
			data-ease="easeInOutBack"
			data-hide-effect="left(long)"
			data-hide-ease="easeInOutBack">
			<h3>[EasyDNNrotator:Title]</h3>
			<div>[EasyDNNrotator:Description]</div>
		</div>
		[EasyDNNrotator:IfExists:Readmore]
		<div class="ms-layer edsms_slideLink2"
			data-effect="right(long)"
			data-duration="900"
			data-delay="500"
			data-ease="easeInOutBack">
			<a href="[EasyDNNrotator:Link]">[EasyDNNrotator:LocalizedText:Readmore]</a>
		</div>
		[EasyDNNrotator:EndIf:Readmore]
		[EasyDNNrotator:IfExists:Event]
		<div class="ms-layer edsms_slideEventDate"
			data-effect="right(long)"
			data-duration="1500"
			data-delay="0"
			data-ease="easeInOutBack">
			[EasyDNNrotator:EventDate]
		</div>
		[EasyDNNrotator:EndIf:Event]
		[EasyDNNrotator:IfExists:Location]
		<div class="ms-layer edsms_slideEventLocation"
			data-effect="left(long)"
			data-duration="1500"
			data-delay="0"
			data-ease="easeInOutBack">
			[EasyDNNrotator:Location]
		</div>
		[EasyDNNrotator:EndIf:Location]
	</div>
<!--ItemTemplateEnd-->

<!--FooterTemplateBegin-->
</div>
<!--FooterTemplateEnd-->

<!--ScriptBegin-->
	<!--EnabledOptionsBegin-->
		[autoplay,speed,fullwidth,showreadmore,slidelink,view,grabCursor,swipe,mouseswipe,wheel,limittitle,limitdescription,stripdescription,preload,loop]
	<!--EnabledOptionsEnd-->
	<!--HiddenOptionsBegin-->
		[thumbnail:width:58:height:58]
	<!--HiddenOptionsEnd-->
	<!--SetOptionsBegin-->
		[space:0]
	<!--SetOptionsEnd-->
	<!--ControlBegin-->
		slider.control('arrows');
		slider.control('thumblist' , {autohide:false, dir:'h', type:'tabs', width:224, height:103, align:'bottom', space:0, margin:12, hideUnder:480});
	<!--ControlEnd-->
<!--ScriptEnd-->
