.eds_socialEventsWidget.eds_style_blue .eds_signUpActionBarWrapper > .eds_title {
  background-color: #1a57ae;
}
.eds_socialEventsWidget.eds_style_blue .eds_eventUsers > .eds_title > span {
  color: #053f8c;
}
.eds_socialEventsWidget.eds_style_blue .eds_eventUsers > ul li > a:hover > span:hover {
  color: #053f8c;
}
