.eds_socialEventsWidget.eds_style_green .eds_signUpActionBarWrapper > .eds_title {
  background-color: #3d7c03;
  background-image: url("../images/green.png");
}
.eds_socialEventsWidget.eds_style_green .eds_eventUsers > .eds_title > span {
  color: #3e9805;
}
.eds_socialEventsWidget.eds_style_green .eds_eventUsers > ul li > a:hover > span:hover {
  color: #3e9805;
}
