.eds_socialEventsWidget.eds_style_red .eds_signUpActionBarWrapper > .eds_title {
  background-color: #b50000;
  background-image: url("../images/red.png");
}
.eds_socialEventsWidget.eds_style_red .eds_eventUsers > .eds_title > span {
  color: #b30000;
}
.eds_socialEventsWidget.eds_style_red .eds_eventUsers > ul li > a:hover > span:hover {
  color: #b30000;
}
