<div class="EDR_box">
	<div class="EDR_image-container">
		<div class="EDR_links"><a class="EDR_link" href="[EasyDNNrotator:Link]" target="[EasyDNNrotator:LinkTarget]"><!-- --></a></div>
		<div class="EDR_image-overlay"></div>
		<div class="EDR_arrow"></div>
		<img src="[EasyDNNrotator:Thumb]" alt="[EasyDNNrotator:Title]" title="[EasyDNNrotator:Title]" [EasyDNNrotator:Thumb:Visibility]/>
	</div>
	<div class="EDR_content">
		<h3>
			<a href="[EasyDNNrotator:Link]" target="[EasyDNNrotator:LinkTarget]">[EasyDNNrotator:Title]</a>
		</h3>
	</div>
</div>

