.eds_alert {
	background: #fff6bf url(../images/icons/exclamationmark.png) center no-repeat;
	background-position: 7px 50%; /* x-pos y-pos */
	text-align: left;
	border-color: #FFD324;
    border-style: solid;
    border-width: 2px 1px;
    color: #CD8200;
    font-size: 11px;
    margin-bottom: 5px;
    padding: 11px 20px 11px 45px;
    text-align: left;
	line-height: 1.3;
}
